# Copy this file to your .env and replace with your values
DATABASE_URL=postgresql://[user]:[password]@[host]:[port]/student_management

PGHOST=[host]
PGPORT=[port]
PGUSER=[user]
PGPASSWORD=[password]
PGDATABASE=student_management

PORT=3000